@import "variables.css";
@import "defaults.css";
@import "header.css";
@import "screens.css";
@import "tabs.css";
@import "responsive.css";

#a2hs {
    position: absolute;
    right: 15px;
    display: none;
}

#a2hs.show {
    display: block;
}
