@media screen and (min-width: 768px) {
    body {
        display: grid;
        grid-template-rows: min-content min-content min-content;
    }

    body > header {
        grid-row: 1;
    }
    body > nav {
        grid-row: 2;
    }
    body > main {
        grid-row: 3;
    }
}
