.screen {
    min-height: var(--screen-item-height);
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    position: relative;
    flex-direction: var(--screen-flex-direction);
}

.screen-item {
    height: var(--screen-item-height);
    min-height: var(--screen-item-min-height);
    min-width: 100%;
    max-width: 100%;
    scroll-snap-align: center;
    overflow: auto;
    padding-top: var(--screen-item-padding-top);
}

.screen-content {
    padding: var(--spacer);
    max-width: var(--max-width);
    margin: 0 auto;
}
