nav {
    background-color: var(--tabs-bg);
    position: sticky;
    top: 0;
}

.tabs {
    display: flex;
    background-color: var(--tabs-bg);
    position: var(--tabs-position);
    bottom: 0;
    left: 0;
    right: 0;
    max-width: var(--max-width);
    margin: 0 auto;
    align-items: stretch;
    justify-content: stretch;
    height: var(--tabs-height);
}

.tab {
    flex: 1;
    text-align: center;
    text-decoration: none;
    color: initial;
    opacity: 0.6;
    transition: opacity, background-color 120ms ease-out;
    line-height: var(--tabs-line-height);
    background-color: var(--tabs-bg);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tab.active {
    opacity: 1;
    background: var(--tabs-active-bg);
    color: var(--tabs-active-color);
}

.tab-text {
    flex: 1;
    font-size: var(--tabs-text-size);
    display: var(--tabs-text-display);
}

